/* /css/custom-style.css */

body {
    background-image: url("../images/header-jw-marriott-guanacaste-resort-spa-COSTARICARESORT0622-2ef67a17a7564c0b82832245e42387b8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.navbar-nav .nav-link {

    transition: color 0.3s; /* Add smooth transition for color change */
}

.navbar-nav .nav-link:hover {

    background-color: #e67e22;
}

.navbar-nav .nav-link.active {
    color: #e67e22; /* Set text color when the link is active/clicked */
}

.container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
}

h2 {
    text-align: center;
    color: #333;
}

form label,
form input,
form button {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    transition: border-color 0.3s; /* Add smooth transition for border color change */
}

form input {
    height: 45px;
    line-height: 25px;
    background: #f9f9f9;
    color: #333;
    padding: 0 15px;
    box-sizing: border-box;
}

form button {
    height: 45px;
    line-height: 35px;
    background: #e67e22;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s; /* Add smooth transition for background color change */
}

form button:hover {
    background: #d35400;
}

form .error {
    color: #ff0000;
}

